@import 'shared.less';

@keyframes core-anim {
    0% {
        transform: translateY(@grid_spacing * 2);
    }

    100% {
        transform: none;
    }
}

@keyframes pop-anim {
    0% {
        transform: scale(0,0);
    }

    100% {
        transform: none;
    }
}

@keyframes default-anim {
    0% {
        transform: translateY(@grid_spacing);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes enhanced-anim {
    0% {
        transform: translateY(@grid_spacing) scaleY(1.5);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes header-anim {
    0% {
        transform: translateX(@grid_cell);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.pacem-anim.enabled {
    overflow-x: hidden;

    .AnimatableCore(@anim, @delay) {
        animation: @anim .3s ease-out @delay both;
    }

    .Animatable(@anim, @delay) {

        &:not(.pacem-viewport-aware),
        &.pacem-viewport-aware.pacem-in-viewport {
            .AnimatableCore(@anim, @delay);
        }
    }

    .Animatable(@delay) {
        .Animatable(default-anim, @delay);
    }

    .pacem-animatable {
        .Animatable(.2s);
    }

    .pacem-ring-chart,
    .pacem-pie-chart,
    .pacem-carousel,
    .pacem-carousel-dashboard,
    .pacem-uploader,
    .pacem-snapshot,
    .pacem-map,
    .pacem-btn {
        .Animatable(.4s);
    }

    .pacem-uploader {

        .pacem-uploader-filewrapper,
        .pacem-uploader-retry,
        .pacem-uploader-undo {
            .AnimatableCore(default-anim, .45s);
        }
    }

    .loop-ring-chart-item(@counter) when (@counter > 0) {
        .loop-ring-chart-item((@counter - 1));

        &:nth-child(@{counter}) .pacem-ring-chart-item {
            .AnimatableCore(pop-anim, .4s + (@counter - 1) * .075s);
        }
    }

    pacem-ring-chart-item {
        .loop-ring-chart-item(3);
    }

    .pacem-pie-chart svg{
            .AnimatableCore(pop-anim, .4s);
    }

    // TODO: wrap the two buttons in two elements to obtain thet following effect
    //.pacem-snapshot{
    //    .pacem-browse{
    //        .AnimatableCore(default-anim, .435s);
    //    }
    //    .pacem-camera{
    //        .AnimatableCore(default-anim, .455s);
    //    }
    //}
    .pacem-field {
        .Animatable(enhanced-anim, .3s);
    }

    .loop-field(@counter) when (@counter > 0) {
        .loop-field((@counter - 1));

        &:nth-child(@{counter}) .pacem-field {
            .Animatable(core-anim, (@counter - 1) * .03s);
        }
    }

    pacem-field {
        .loop-field(50);
    }

    h1.pacem-animatable {
        .Animatable(header-anim, 0s);
    }

    h2.pacem-animatable {
        .Animatable(header-anim, .1s);
    }

    h3.pacem-animatable {
        .Animatable(header-anim, .2s);
    }
}
